
.component-container-invapp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px ridge #ffd100;/*#22223b;*/
  background: #4a4e69 url("backgroundtexturedndapp.jpg");
  border-radius: 10px;
  box-shadow: inset 1px 1px 12px black;
  padding: 10px;
}

.search-h1 {
  color: #f2e9e4;
  font-family: 'Amatic SC', cursive;
}

.inv-h1 {
  color: #f2e9e4;
  font-family: 'Amatic SC', cursive;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  padding-right: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
  height: auto;
  padding-right: 5px;
  margin-top: 5px;
  outline: 1.5px groove black;
  background-color: #2b2d42;
}

.cards:hover {
  outline: 2px groove rgb(120, 120, 120);
}
.show-all-items-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  transition: .3s;
  color:black;
  background-color: #ffd100;
}
.show-all-items-button:hover {
  cursor: pointer;
  color:#929292;
}

.search-area {
  overflow: auto;
  max-height: 600px;
}

.search-item-name {
  transition: .4s;
  font-weight: bold;
  color: lightgrey;
}

.search-item-name:hover {
  color:white;
}

.add-item {
  transition: .4s;
  border: none;
  background-color: #2b2d42;
  padding-right: 3px;
  font-weight: bold;
  color: green;
}
.add-item:hover {
  cursor: pointer;
  color: rgb(0, 255, 0);
}

.inputs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
}
.input-box {
  padding-left: 5px;
  min-width: 330px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid grey;
}
.input-button {
  height: 30px;
  margin-top: 30px;
}

.inventory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 10px;
  height: auto;
  min-width: 300px;
}

.rendered-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  background-color: #2b2d42;
  outline: 1.5px groove black;
}

.rendered-items:hover {
  outline: 2px groove rgb(120, 120, 120);
}

.inv-button {
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  border: none;
  background-color: #2b2d42;
  color: rgb(59, 0, 0);
  font-size: 20px;
}

.inv-button:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.item-count-group{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-counter {
  color: lightgrey;
}

.plus-count-button {
  font-size: 20px;
  background-color: #2b2d42;
  border: none;
  color: green;
}

.plus-count-button:hover {
  cursor: pointer;
  color: rgb(0, 255, 0);
}

.minus-count-button {
  font-size: 20px;
  background-color: #2b2d42;
  border: none;
  color: rgb(118, 1, 1);
}
.minus-count-button:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.inv-items-div{
  transition: .4s;
  margin-top: 10px;
  padding-left: 10px;
  border-left: 3px dotted #9a8c98;
  min-height: 600px;
  height: 100%;
  min-width: 300px;
}

.display-item {
  transition: .4s;
  color: lightgrey;
  padding-left: 3px;
  font-weight: bold;
}
.display-item:hover {
  color: white;
}

@media screen and (max-width: 708px) {
  .inv-items-div {
    border-left: none;
  }

  .inv-h1 {
    border-top: 3px dotted #9a8c98;
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
}
